<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <style>
        body {
            background-image: url("{{ url_for('static', path='admin/img/shall.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 25%;
            background-position: center;
        }
    </style>
    <title></title>
</head>
<body>
    <a href="{{ url_for('index') }}">Voltar para uma área segura</a>
</body>
</html>